<nz-input-wrapper>
  <nz-icon nzInputPrefix [nzType]="prefixIcon" />
  <input
    nz-input
    [nzSize]="size"
    [type]="visible ? 'text' : 'password'"
    [value]="value"
    [disabled]="disabled"
    [attr.autocomplete]="autocomplete"
    [attr.placeholder]="placeholder"
    (input)="handleInput($event)"
    (blur)="handleTouched()"
  />
  <nz-icon
    nzInputSuffix
    class="ant-input-password-icon password-input-toggle"
    role="button"
    tabindex="0"
    [nzType]="visible ? 'eye' : 'eye-invisible'"
    (click)="toggleVisible()"
    (keydown.enter)="toggleVisible()"
    (keydown.space)="toggleVisible()"
  />
</nz-input-wrapper>
